<h2> Create New Post <h2>
<h5>
<%= form_for  @post do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :author %>
  <%= f.text_field :author %>

<br>
<br>
  <%= f.label :content %>
  <%= f.text_area :content, :cols => "50", :rows => "15" %>

<%= f.submit "Create"%>
</h5>
  <% end %>
